body {
    background-color: rgb(12, 12, 28);

    /* position: absolute; */
    color: white;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1>span {
    font-size: 58.8px;
    font-weight: 700;
    line-height: 98.78px;

}

.marq {
    background-color: #ffff;
    padding: 10px 10px;
    color: black;
}

.content {
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.a1 {
    display: flex;
    gap: 15px;
}

.a1>img {
    width: 25px;
}

.a1>span {
    font-weight: 700;
    font-size: 22px;
}

.sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3>.imagePortion>:nth-child(1) {
    position: absolute;
}

.imagePortion>img {
    width: 620px;
}

.sec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 30px 0px;
}

.sec5>:nth-child(1) {
    font-size: 33px;
    font-weight: 800;
}

.sec5>:nth-child(2) {
    font-size: 25px;
    font-size: 500;
}

.sec5>:nth-child(3) {
    font-size: 25px;
    font-size: 500;
}

.sec5>:nth-child(4) {
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    text-align: center;
    background-color: #29088B;
    color: #ffff;
    font-size: 16px;
    box-shadow: 1px 1px 0px 0px #ffff
}

.sec6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin: 30px 0px;
}

.sec6 {
    background-color:
        #29088B;
    border-top: 1px solid #ffff;
    border-bottom: 1px solid #ffff;
}

.sec6>img {
    width: 156px;
}

.sec6>span {
    font-size: 63px;
    font-weight: 900px;
}

.sec6>:nth-child(3) {
    transform: scaleX(-1);
}

.sec7 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;

}

.sec7>p {
    font-size: 33px;
    font-size: 700;
}

.boxes {
    display: flex;
    justify-content: center;
    max-width: 800px;
    flex-wrap: wrap;
    gap: 6px;
}

.box {
    min-width: 230px;
    min-height: 230px;
    max-height: 230px;
    background-color: #ffff;
    border: 1px solid #ffff;
    transition: transform 0.3s ease-in-out;
    /* Adding transition for smooth effect */
}

.box-a {

    min-width: 230px;
    min-height: 230px;
    max-height: 230px;
    background-color: #ffff;
    border: 1px solid #ffff;

}

.box-b {
    min-width: 300px;
    min-height: 300px;
    max-height: 300px;
    background-color: #ffff;
    border: 1px solid #ffff;

}

.box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sec8 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px 0px;
}

.sec8>img {
    width: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* KEYFRAMES */

@keyframes animateBubble {
    0% {
        margin-top: -100%;
    }

    100% {
        margin-top: 1000px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 50px;
    }

    100% {
        margin-left: 0px;
    }
}

/* ANIMATIONS */

.x1 {
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: -5%;
    top: 5%;
    transform: scale(0.6);
}

.x2 {
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    transform: scale(0.4);
}

.x3 {
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    transform: scale(0.7);
}

.x4 {
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    transform: scale(0.3);
}

.x5 {
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    transform: scale(0.5);
}

.x6 {
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0;
    transform: scale(0.8);
}

.x7 {
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    transform: scale(0.4);
}

.x8 {
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    transform: scale(0.3);
}

.x9 {
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    transform: scale(0.6);
}

.x10 {
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    border-radius: 50%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    height: 200px;
    position: absolute;
    width: 200px;
}

.bubble:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}



/* Responsive */
@media only screen and (max-width: 768px) {
    .sec1>span {
        font-size: 33px;
    }

    .sec2,
    .sec4 {
        overflow-x: auto;
    }

    .sec3 {
        .imagePortion>img {
            max-width: 281px;
            height: auto;
        }
    }

    .sec6>img {
        width: 80px;
    }

    .sec6>span {
        font-size: 22px;
    }

    .sec5>:nth-child(1) {
        font-size: 18px;
        font-weight: 800;
    }
    .sec5>:nth-child(2) {
        font-size: 18px;
        font-size: 500;
    }
    .sec5>:nth-child(3) {
        font-size: 18px;
        font-size: 500;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .sec1>span {
        font-size: 36px;
    }
}